<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="assets/css/reset.css">
    <link rel="stylesheet" type="text/css" href="assets/css/burger_style.css">
    <link rel="icon" type="image/png" href="assets/img/burger-icon.png"/>
    <title>Burger Eater</title>
</head>
<body>
    {{{ body }}}
    <script type="text/javascript" src="https://code.jquery.com/jquery.js"></script>
    <script type="text/javascript" src="assets/js/burgers_view.js"></script>
</body>
</html>